#cfl-tech-blog-sidebar-wrapper {
    width: 100%;
    min-height: 2048px;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.cfl-tech-blog-sidebar-container {
    width: 100%;
    min-height: 2048px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: space-between;
}

.cfl-tech-blog-sidebar-author-info-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.cfl-tech-blog-sidebar-author-profile-image-box {
    align-items: center;
    justify-content: center;
}

.cfl-tech-blog-sidebar-author-profile-image {
    width: 100px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 50px;
}

.cfl-tech-blog-sidebar-author-desc-box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cfl-tech-blog-sidebar-author-name {
    font-family: GimhaeGaya;
    font-weight: 900;
}

.cfl-tech-blog-sidebar-author-desc {
    font-family: GimhaeGaya;
    font-weight: 600;
    font-size: small;
    word-break: keep-all;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}

.cfl-tech-blog-sidebar-category-box {
    height: 100%;
    width: 80%;
    justify-content: space-around;
}

.cfl-tech-blog-sidebar-category-title {
    font-family: TmonMonsori;
    font-weight: 900;
    font-size: large;
}

.cfl-tech-blog-sidebar-big-category {
    font-size: small;
    padding-bottom: 30px;
}

.cfl-tech-blog-sidebar-sub-category-box {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
}

.cfl-tech-blog-sidebar-sub-category {
    padding: 5px;
    border-radius: 25px 25px;
    cursor: pointer;
}

.cfl-tech-blog-sidebar-sub-category:hover {
    background-color: rgba(0, 0, 0, 0.05);
}