#cfl-tech-blog-react-markdown-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cfl-tech-blog-react-markdown-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.cfl-tech-blog-react-markdown-front-matter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.cfl-tech-blog-react-markdown-title {
    font-family: GimhaeGaya;
}

.cfl-tech-blog-react-markdown-write-date {
    color: rgba(0, 0, 0, 0.5);
}

.cfl-tech-blog-react-markdown-category-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 3px;
    padding: 3px; /* 전체 그리드의 패딩 */
}

.cfl-tech-blog-react-markdown-tag-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 3px;
    padding: 3px; /* 전체 그리드의 패딩 */
}

.cfl-tech-blog-react-markdown-tag-icon-box {
    width: 18px;
    height: 18px;
}

blockquote {
    color: rgba(0, 0, 0, 1);
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em rgba(0, 0, 0, 1) solid;
}

a {
    /*width: 100%;*/
    height: 100%;
    color: rgba(0, 0, 0, 1);
    font-family: GimhaeGaya;
    font-weight: 700;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px 15px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    opacity: 0.5;
}