#footer {
    min-width: 1200px;
    padding: 40px 60px 50px 60px;
    background-color: rgba(55, 55, 55, 1);

    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo-text {
    color: rgba(255, 255, 255, 1);

    font-family: 'GimhaeGaya';
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.footer-link-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-email-link {
    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
}

.footer-copyright {
    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
}